<div class="container">
  <div class="row">
    <div class="col-sm-4">
    
    <div class="simple-card p-3 mt-5 rounded-lg">
        <%= render "artist_profile_card", artist: @artist %>
    </div>
    
    </div>
    <div class="col-sm-8">
      <div class="">
        <% current_tags = find_unique_categories(@artist) %>
        <% @tags.each do |tag| %>
     
          <% @artist.services.where(category: tag).each do |service| %>
            <div class="booking-card-product simple-card p-3 mt-5 rounded-lg">
              <%=render 'artist_show_card', service: service %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>